{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        rewrite-clj/rewrite-clj {:git/url "https://github.com/clj-commons/rewrite-clj"
                                 :sha "db337b393ac527abe4015854d706ece2a9daeed2"
                                 :tag "v1.0.579-alpha"}
        sci/sci {:git/url "https://github.com//sci"
                 :sha "05f2fe44445d9b21cb0b50d6bac455ca5eea90ec"
                 :tag "v0.2.4"}}}
