{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps
 {}

 :aliases
 {:core
  {:extra-deps {org.clojure/clojure         {:mvn/version "1.10.3"}
                org.clojure/clojurescript {:mvn/version "1.10.758"}
                org.clojure/spec.alpha {:mvn/version "0.2.187"}
                org.clojure/core.async {:mvn/version "1.1.587"}}

   :override-deps {}}

  :mult-vscode
  {:extra-deps {edit/edit {:local/root  "../../cljctools/edit"}

                mult/mult {:local/root  "./mult"}
                mult-vscode/mult-vscode {:local/root "./mult-vscode"}}}

  :mult-ui-vscode
  {:extra-deps {reagent/reagent {:mvn/version "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]}
                ;; Just for pretty printting the match
                fipp {:mvn/version "0.6.23"}

                mult/mult {:local/root  "./mult"}
                mult-ui/mult-ui {:local/root  "./mult-ui"}
                mult-ui-vscode/mult-ui-vscode {:local/root "./mult-ui-vscode"}}}

  :shadow-cljs
  {:extra-deps {shadow-cljs/shadow-cljs {:mvn/version "2.11.7"}}}}}
